SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=financas360
DB_USER=postgres
DB_PASSWORD=sua-senha-aqui
DB_HOST=db
DB_PORT=5432

EMAIL_HOST_USER=seu-email@gmail.com
EMAIL_HOST_PASSWORD=sua-senha-de-app
