{% extends 'base.html' %}
{% load l10n humanize %}
{% block title %}Quadro Orçamentário - {{ company.name }}{% endblock %}
{% block content %}
    <h1 class="fw-bold text-primary mb-3">
        Quadro Orçamentário <span class="text-muted fs-5">{{ company.name }}</span>
    </h1>
    <div class="card shadow-sm border-0 mb-4">
        <div class="card-header bg-gradient bg-light text-muted d-flex justify-content-between align-items-center">
            <span class="fs-4 fst-italic ">Ano: {{ year }}</span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover align-middle text-sm">
                    <thead class="table-light sticky-top" style="top: 0;">
                        <tr>
                            <th rowspan="2" class="align-middle">Conta</th>
                            <th rowspan="2" class="align-middle text-end">Orçamento Anual</th>
                            {% for month in months %}<th colspan="2" class="text-center">{{ month }}</th>{% endfor %}
                        </tr>
                        <tr>
                            {% for month in months %}
                                <th class="text-end">Realizado</th>
                                <th class="text-center">Var(%)</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in report_data %}
                            <tr class="{% if row.level == 0 %}table-group-divider fw-bold bg-light{% endif %}">
                                <td style="padding-left: {{ row.level|add:1 }}rem;">{{ row.account.code }} - {{ row.account.name }}</td>
                                <td class="text-end">
                                    {% if row.annual_budget > 0 %}R$ {{ row.annual_budget|floatformat:2|intcomma }}{% endif %}
                                </td>
                                {% for month_data in row.monthly_data %}
                                    <td class="text-end {{ month_data.realizado_css_class }}">
                                        <span>R$ {{ month_data.actual|floatformat:2|intcomma }}</span>
                                        <br>
                                        <small class="text-muted fst-italic">Orçado: R$ {{ month_data.monthly_budget|floatformat:2|intcomma }}</small>
                                    </td>
                                    <td class="text-center">
                                        {% if forloop.counter0 > 0 %}
                                            {% with variation=month_data.variation %}
                                                {% if variation == 0 and row.monthly_actuals|slice:forloop.counter0|first != row.monthly_actuals|slice:forloop.parentloop.counter0|first %}
                                                    <span class="badge bg-secondary" title="Sem variação">0%</span>
                                                {% elif variation != 0 %}
                                                    <span class="{{ month_data.variacao_css_class }}">
                                                        {% if variation > 0 %}
                                                            ▲
                                                        {% else %}
                                                            ▼
                                                        {% endif %}
                                                        {{ variation|floatformat:1|intcomma|slice:"1:" }}%
                                                    </span>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
