{% extends 'base.html' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>{{ page_title }}</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                <a href="{% url 'core:company_list' %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
{% endblock %}
