{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Formulário{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="h3 mb-4 text-gray-800">
                {% if object %}
                    Editar Item
                {% else %}
                    Adicionar Item
                {% endif %}
            </h1>
            <div class="card shadow-sm border-0 mb-4">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-flex justify-content-end mt-4">
                            <a href="javascript:history.back()" class="btn btn-secondary me-2">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
